@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #1A0B2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Navbar style */
.container-nav {
    width: 100%;



}

.navbar {
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.techwave {
    font-size: 35px;
    color: white;
}

.wave {
    color: #DB489F;
}

.nav-links {
    display: flex;
    gap: 32px;
    color: white;

    list-style: none;

}

.btn {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 40px;
    padding: 12px;
    font-size: 1rem;
    color: #FFFFFF;
    width: 135px;
    height: 44px;

}

.btn-1 {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 40px;
    padding: 12px;
    font-size: 1rem;
    color: #FFFFFF;
    width: 201px;
    height: 44px;
}

.nav-btn {
    display: flex;
}

/* banner section style */

.banner-section {
    width: full;
    height: 760px;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.preant-img {
    position: relative;
    margin-top: 100px;

}

.microphone {
    position: absolute;
}

.new {
    position: relative;
    top: -140px;
    margin-left: -90px;
    background-color: #00FF88;
    border-radius: 16px;
    padding: 8px;
    font-size: 18px;
    font: bold;
    width: 75px;
    height: 37px;
}

.tech-text {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 60px;
}

.banner-description {
    color: white;
    margin-top: 8px;
}

.subscribe {
    display: flex;
    gap: 16px;

}

.btn-subscribe {
    border-radius: 40px;
    padding: 12px;
    font-size: 1rem;
    color: green;
    background: none;
}

.banner-btn {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: center;

}


/* about section style */
.about-section {
    text-align: center;

}

.border {
    border-bottom: 2px solid #3116e0;
    margin: 80px 200px;
}

.section-discription h1 {
    font-weight: 900;
    color: #FFFFFF;
    font-size: 48px;
}

.section-discription p {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 80px;
}

.dashbord {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-left: 200px; */
    /* margin-top: 80px; */
}

.dashbord h1 {
    color: #00FF88;
    font-size: 48px;
}

.dashbord p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 16px;
}

.dashbord-div {
    text-align: center;
}


/* navber responsive */
@media screen and(max-width:576px) {}